%page-main {
    padding: 1.5rem 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

%card {
    background: var(--color-white);
    box-shadow: 0 0.25rem 0.8125rem rgba(0, 0, 0, 0.08);
    border-radius: 1.125rem;
}

%icon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

%message-count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-control-primary);
    border-radius: 0.1875rem;
    padding: 0.1875rem 0.25rem 0.125rem;
    width: fit-content;
    height: 1.06rem;
    font-weight: 500;
    font-size: 0.625rem;
}

%dropdown {
    z-index: 100;
    position: absolute;
    background: var(--color-tundora);
    border-radius: 0.5rem;

    padding: 0.75rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow: hidden auto;

    // hide styles
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &::-webkit-scrollbar {
        background-color: inherit !important;
        width: 4px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: inherit !important;
    }
}

%dropdown--visible {
    opacity: 1;
    visibility: visible;
}

%dropdown-item {
    cursor: pointer;

    width: 100%;
    min-height: 1.75rem;
    padding: 0.25rem 1rem;
    color: var(--color-white);

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: left;

    user-select: none;

    &:hover,
    *:active,
    &:focus-within {
        outline: none;
        background: var(--color-control-primary);
    }
}

%table-styled-scroll {
    &::-webkit-scrollbar {
        height: 0.5rem !important;
        width: 0.5rem !important;

        &-track {
            background: transparent !important;
        }

        &-thumb {
            background: var(--color-control-primary) !important;
            border-radius: 0.5rem !important;
        }
    }
}
