*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 1px;
    min-height: 100%;

    font-size: var(--font-size);
    font-family: var(--font-family, sans-serif);
    line-height: var(--body-line-height);
}

ul {
    list-style: none;
    padding: initial;
}

a {
    text-decoration: none;
    color: var(--color-black);
}
