:root {
    --font-size: 0.9rem;
    --font-family: 'Roboto';
    --body-line-height: 1.5;

    --text-xxxl: 2rem;
    --text-xxl: 1.6rem;
    --text-xl: 1.3rem;
    --text-lg: 1.1rem;
    --text: 1rem;
    --text-md: 0.9rem;
    --text-sm: 0.8rem;
    --text-xs: 0.7rem;
}
