$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 996px,
    lg: 1200px,
    xl: 1600px,
) !default;

$grid-columns: 12 !default;

// Fonts
$font-family-body: 'Roboto', sans-serif;

// --- Old color scheme ---

$orange: #f1905b;

$smoky-white: #f7f7f7;
$soft-red: #f24e4e;
$soft-green: #93cf91;
$const-black: #000;
$const-white: #fff;

$default-shadow-color: rgba(39, 26, 26, 0.12);
$header-shadow-color: $default-shadow-color;
$footer-shadow-color: $default-shadow-color;
$column-separator-color: $default-shadow-color;

$modal-border-color: #e4e6e9;
$model-title-bg-color: #fafbfc;

// --- New color scheme ---

// Colors
$color-green: #12b23f;
$color-red: #eb4a14;
$color-blue: #349bfb;
$color-black: #212121;
$color-white: #ffffff;
$color-semi-gray: #f0f0f0;
$color-gray: #808080;
$color-dusty-gray: #949494;
$color-cold-gray: #555555;
$color-tundora: #484848;
$color-silver: #aaaaaa;
$color-iron: #d4d5d5;
$color-alabaster: #f8f8f8;

// Brand colors
$color-brand-accent: #25c278;

// Text colors
$color-text-headline: $color-black;
$color-text-primary: $color-tundora;
$color-text-secondary: $color-gray;
$color-text-tertiary: $color-silver;
$color-text-muted: $color-iron;
$color-text-success: $color-green;
$color-text-error: $color-red;

// Link colors
$color-link-primary: $color-blue;
$color-link-secondary: #969fa8;

// Background color
$color-bg-main: $color-alabaster;
$color-bg-primary: $color-white;
$color-bg-error: #fce3db;

// Border colors
$color-border: #e5e4e5;

// Icon colors
$color-icon-primary: $color-tundora;
$color-icon-secondary: $color-silver;

// Control colors
$color-control-inactive: #dedddd;
$color-control-primary: #30c07c;
$color-control-secondary: $color-tundora;
$color-control-active: $color-blue;

// Shadow colors
$color-shadow-default: rgba(98, 98, 98, 0.08);

//Shadows
$shadow-default: 0px 3px 13px 1px $color-shadow-default;

// Z-index
$zindex-sidebar: 1000;
$zindex-header: 1009;
$zindex-footer: 1009;

// Sizes
$header-height: 3.5rem;
$footer-height: 3rem;

// Scroll
$scrollbar-thumb-width: 0.5rem;
$scrollbar-thumb-height: 0.5rem;
$scrollbar-thumb-color: #c4c4c4;

// Statuses colors
$status-completed-color: #12b23f;
$status-completed-bg-color: #f3fcf8;
$status-checking-color: #da8e1b;
$status-checking-bg-color: #fcf8ef;
$status-revision-color: #349bfb;
$status-revision-bg-color: #f5faff;
$status-in-production-color: #27b2b2;
$status-in-production-bg-color: #f3fcfc;
